.directory-side-bar-container {
    background-color: var(--color-black);
    text-decoration: none;
    padding-right: 0;
}
.directory-side-bar-container h3{
    color: var(--color-white);
    text-align: center;
    margin: 2vh 0;
}
.directory-side-bar-container a{
    text-decoration: none;
    color: var(--color-white);
}
.directory-side-bar-container ul {
    padding: 0;
    margin: 0;
}
.directory-side-bar-container li{
    list-style: none;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    padding: 1vw;
}
.directory-side-bar-container li:hover{
    background-color: var(--color-gray);
}
.directory-text{
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    padding: 4vh;
}
.side-menu-back{
    position: sticky;
    top: 90%;
}
.directory-plus-icon{
    display: flex;
    justify-content: center;
}
.company-card-img{
    width: 6vw;
    margin: auto;
}
.directory-side-menu-button{
    width: 100%;
    background-color: transparent;
    color: var(--color-white);
    border: none;
    text-align: left;
}