.events-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    margin: auto;
}
.event-plus-icon{
    background:none;
    border:none;
}

.modal-add-event-open{
    height: 100vh;
    position: absolute;  
    z-index: 1;
    top: 0;
    left: -1vw;
    bottom: 0;
}

.add-event-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.add-event-container>h2{
    text-align: center
}
.add-event-container{
    margin-top: 5vh;
    width: 80vw;
    background-color: white;
    padding: 2vw;
    border-radius: 10px
}
.event-input-element{
 display: grid;
 grid-template-columns: 1fr 2fr;
 margin: 2vh 1vw;
}

@media only screen and (max-width: 768px) {
    .add-event-input-container{
        display: block;
      
    }
}

@media only screen and (max-width: 400px) {
    .event-input-element{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}


.update-card-button-container{
    display: flex;
    justify-content: space-between;
}

.update-card-button-container button {
    background:none;
    border: none;
}
.update-card-button-container button img{
    width: 3vw;
}

.card-container {
    margin: 3vh auto;
}