.events-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
   
}

.event-plus-icon{
    background:none;
    border:none;
    width: 100%;
}

.modal-add-event-open{
    height: 100vh;
    position: absolute;  
    z-index: 5;
    top: 0;
    left: -1vw;
    bottom: 0;
}

.add-event-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.add-event-container > h2 ,h3{
    text-align: center
}
.add-event-container{
    margin-top: 5vh;
    width: 80vw;
    background-color: white;
    padding: 2vw;
    border-radius: 10px
}
.event-input-element{
 display: grid;
 grid-template-columns: 1fr 2fr;
 margin: 2vh 1vw;
}

@media only screen and (max-width: 768px) {
    .add-event-input-container{
        display: block;
      
    }
}

@media only screen and (max-width: 400px) {
    .event-input-element{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}


.update-card-button-container{
    display: flex;
    justify-content: space-between;
}

.update-card-button-container button {
    border: none;
}
.card-img-top {
height: 20vh;
}
.open {
    display: block;
}
.up::after{
content: '▲';
position: absolute;
    right: 1vw;
}
.down::after{
    content: '▼';
    position: absolute;
    right: 1vw;
    }
.close {
    display: none;
}
.card-container {
    margin: auto;
}
.event-side-menu{
    list-style: none;
    margin: 0;
    padding: 0;
   
}
.event-side-menu > li {
    margin: 0;
    padding: 0 0 0 1vw;
    position: relative;
}
.event-side-menu-button{
    width: 100%;
    height: 5vh;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    text-align: left;
}

.event-side-menu-button:hover{
    background-color: darkblue;
    color: white;
}

.event-side-menu-back-button{
    width: 100%;
    height: 5vh;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    text-align: left;
}

.event-side-menu-back-button::after{
    content: '❮';
    position: absolute;
    right: 1vw;
}
.update-delete-button {
    background-color: transparent;
    border: none;
}