.form-main-container{
    display: flex;
    width: var(--full-width);
    height: var(--full-height);
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:var(--form-backroung)
 
}
.login-register-container{
    width: 40vw;
    background-color: var(--color-white);
    padding: 2vw;
    border-radius: 10px
}
.login-register-container h2 {
    text-align: center;
}
.form-input-element{
    margin: 3vh auto
}
.login-register-container input{
    width: 100%;
}
.form-button{
    border: none;
    border-radius: 50px;
    background-color:var(--color-secondary);
    height: 6vh;
    padding: 0 5vw;

}
.form-close-button{
    background-color:var(--color-danger);
    justify-self: end;
}
@media only screen and (min-width: 768px) {
    .form-button{
        width: 20vw;
    }
}
.form-button-container{
    display: flex;
    justify-content: space-between;
}

.update-delete-button{
    border: none;
    background-color: transparent;
}

.form-button-container{
    display: flex;
    justify-content: space-between;
}

.form-big-input{
    height: 20vh;
}

.form-mittel-input{
    height: 15vh;
}

.form-small-input {
    height: 10vh;
}

.form-flex-input-element{
    display: flex;
}
#form-checkbox{
    width: 15px;
}