.form-main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:rgba(138,43,216,0.6)
 
}
.login-register-container{
    width: 40vw;
    background-color: white;
    padding: 2vw;
    border-radius: 10px
}
.login-register-container h2 {
    text-align: center;
}
.form-input-element{
    margin: 3vh auto
}
.login-register-container input{
    width: 100%;
}
.form-button{
    border: none;
    border-radius: 50px;
    background-color: aqua;
    height: 6vh;
    padding: 0 5vw;

}
.form-close-button{
    background-color: rgb(255, 0, 0);
    justify-self: end;
}
@media only screen and (min-width: 768px) {
    .form-button{
        width: 20vw;
    }
}
.form-button-container{
    display: flex;
    justify-content: space-between;
}