.main-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-img{
    width: 98vw;
}
.main-title{
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.event-container{
    margin-left:2vw;
}
.all-homePage-button {
    background: rgb(255, 255, 255);
    padding: 1vw;
    border: 1px solid transparent;
    border-radius: 2vw;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.2px;
    position: absolute;
}
.all-interview-button{
    right: 3vw;
}
.all-event-button{
    right: 3vw;
    margin-top: 1vh;

}
.gallery-left-container{
    position: relative;
    margin: 0 auto;
}

.all-gallery-button{
    bottom:50%;
}

.home-interview{
    margin: 5vh auto;
    padding: 2vw;
    background-color: transparent;
    border-radius: 3px;
    align-items: center;
}
.home-event-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: larger;
    font-weight: 700;
}
.home-event-button:hover{
    color: white;
    background-color: rgb(15, 115, 135);
}
.home-events-container {
    background-color:rgb(235, 245, 250);
    width: 99%;
}
.home-event-card {
    margin: auto;
 }
.home-header {
    text-align: center;
    margin: 2vw;
    text-shadow: 0 0 10px 10px;
}
.activ {
    background-color:rgb(232, 244, 249);
}
.home-events-container > div > div {
    padding:0
}
.home-events-container > div > div > ul {
    list-style: none;
    height: 100%;
    min-height: 46vh;
    background-color: rgb(68, 163, 192);
    margin: 0;
    padding: 0;
}
.home-events-container > div > div > ul > li {
    width: 100%;
    height: 33%;
    margin: auto 0;
    text-align: center;
}
@media only screen and (max-width: 576px) {
    .home-events-container > div > div > ul {
        padding-bottom: 2vh;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.advert-image-new{
    height: 100px;
}