.interview-container {
    background-color: rgb(246, 242, 242);
}
.interview-img {
    width: 10vw;
}
.interview-container h2 {
    text-align: center;
}
.interview-card-container {
    margin: auto 8vw;
}
.interview-card {
    margin: 5vh auto;
    padding: 2vw;
    background-color: var(--color-white);
    border-radius: 3px;
    align-items: center;
}
.interview-card:nth-child(2) {
    flex-direction: row-reverse;
}
.interview-header {
    display: flex;
    align-items: center;
}
.interview-button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 3px 3px var(--text-shadow-color);
}
.interview-header > h2 {
    width: var(--full-width);
}
.interview-header > button {
    border: none;
    position: fixed;
    right: 0;
    background-color: transparent;
}
.interview-header > button > img {
    width: 5vw;
}
.interview-title {
    display: flex;
    justify-content: space-between;
}
.interview-title button {
    background:none;
    border: none;
}
.interview-title button img {
width: 3vw;
}
.interview-plus-icon {
    background:none;
    border:none;
}
.interview-ok-button{
    background: none;
    border: none;
    position: fixed;
    bottom: 2px;
    right: 2px;
}
.interview-ok-button > img {
    width: 5vw;
}
.read-interview{
    background-color:var(--color-white);
    z-index: 1;
    width: 80vw;
    margin: 0 auto;
}
.read-interview h3, .read-interview h5, .read-interview h6 {
    padding: 0 3vw;
}
.read-interview p {
    padding: 2vw 3vw;
}
.add-interview-img-container{
    display: flex;
    justify-content: center;
}
.interview-card-datum{
    padding: 3vw 0;
}
.question-modal-container{
    position: fixed;
    top: 0;
    left:0
}