header{
    position: sticky;
    top:0;
    z-index: 5;
    background-color: white;
    margin-bottom: 3vh;
}
.header-button{
    border: none;
    background:none;
}

.language-container{
    cursor:pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.language-dropdown{
    position: absolute;
    list-style: none;
    padding-left: 0;
    background: white;
}
.language-dropdown-item:hover{
    background-color: bisque;
    padding: 2px;
    cursor:pointer
}
.login{
    border: none;
    background: transparent;
    text-decoration: none;
    color: black;
    align-self: center;
    margin: 0 2vw;
}
.form-container{
    position: relative;
    justify-content: right;
    align-items: center;
}
.search-input{
    border-radius: 50px;
    border-color: blue;
    height: 7vh;
    width: 30vw;
    min-height: 3vw
}
.search-input::placeholder{
    color:blue;
    text-align: center;
}
.search-icon-button{
    position: absolute; 
}
.search-icon{
   width:2vw;
   margin-bottom: 3px;
}
.navigation-element{
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 2vw;
}
.hamburger-menu-button{
    border: none;
    background: none;
    display: none;
}

@media only screen and (max-width: 576px) {
    .hamburger-menu-button{
        display: block;
    }
}
.page-navigation{
    display: none;
}

@media only screen and (min-width: 576px) {
    .hamburger-menu-container {
        display: none;
    }
    .page-navigation{
        display: block;
    }
}

.hamburger-menu {
    width: 4vw;
}
.mobil-nav ul{
    padding: 0;
}
.mobil-nav li{
  
    list-style: none;
    font-size: 16px;
    font-weight: 700;
}
.mobil-nav li:hover{
    background-color: aquamarine;
}
.mobil-nav a{
    text-decoration: none;
    margin-left: 5vw;
    color: black;
}
.hamburger-menu-search-login-container{
    display: flex;
    justify-content: space-between;
}
.hamburger-menu-search-input{
    border-radius: 50px;
    border-color: blue;
    height: 6vh;
    width: 50vw;
    min-height: 3vw
}
.hamburger-menu-search-icon{
    width:4vw;
    margin-bottom: 3px;
}