
.login-backround {
    background-color: var(--backroung-login);
    position: absolute;
    right: 0;
    top: 0;
    height: var(--full-height);
    width: var(--full-width);
    opacity:0.5;
    z-index: 1;
    animation-name: backround-animation;
    animation-duration: var(--login-animation-duration);
}

.login-container{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    width: var(--login-container-width);
    height: var(--full-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    padding: 2vw;
    opacity:1;
    border-radius: 10px;
    transition: width 20s;
    animation-name: form-animation;
    animation-duration: var(--login-animation-duration);
}
.login-container h2 {
    text-align: center;
}
.login-input-element{
    margin: 3vh 3vw
}
.login-container input{
    width: 100%;
}
.login-button{
    border: none;
    border-radius: 50px;
    background-color: var(--color-secondary);
    height: 6vh;
    padding: 0 5vw;
}

.login-close {
    border: none;
    background: none;
    text-align: right;
}
@keyframes backround-animation {
    from {width: 0;}
    to {width: var(--full-width);}
  }
@keyframes form-animation {
    from {width: 0;}
    to {width: var(--login-container-width);}
  }