.header-button{
    border: none;
    background:none;
}

.language-container{
    cursor:pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.language-dropdown{
    position: absolute;
    top: 2vh;
    list-style: none;
    padding-left: 0;
    background: white;
}
.language-dropdown-item:hover{
    background-color: bisque;
    padding: 2px;
    cursor:pointer
}
.login{
    text-decoration: none;
    color: black;
    padding-left: 1vw;
}
.form-container{
    position: relative;
    justify-content: right;
    align-items: center;
}
.search-input{
    border-radius: 50px;
    border-color: blue;
    height: 7vh;
    width: 30vw;
    min-height: 3vw
}
.search-input::placeholder{
    color:blue;
    text-align: center;
}
.search-icon-button{
    position: absolute;
    right: 3px;
   
}
.search-icon{
   width:2vw;
   margin-bottom: 3px;
}
.navigation-element{
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin: 0 2vw;
}
.hamburger-menu-button{
    border: none;
    background: none;
    display: none;
}

@media only screen and (max-width: 576px) {
    .hamburger-menu-button{
        display: block;
    }
}
@media only screen and (min-width: 576px) {
    .hamburger-menu-container {
        display: none;
    }
}
.hamburger-menu {
    width: 4vw;
}
