.sbb-img {
    width:15vw ;
    padding-bottom: 3vh;
}
.sbb-form-container {
    display:flex; 
    margin-bottom: 2rem; 
    align-items:stretch;
}
.sbb-form-label-container {
    width:50%; 
    display:flex; 
    border-bottom: 1px solid #000000; 
    margin-right: 4rem;
}
.sbb-form-label{
    padding-left:0px; 
    color:#0a0a0a; 
    padding-right:10px;
}
.sbb-form-input{
    border:none; 
    background:none; 
    font-size:18px; 
    font-family:'Verdana';
}

.sbb-form-label-abfahrt{
    padding-right:2em;
}
.sbb-search{
    background:red; 
    display:inline-block; 
    color:#fefefe; margin:0 0 1rem;
    padding: .85em 1em; 
    border:1px solid transparent; 
    font-family:inherit; 
    font-size:.9rem; 
    line-height:1; 
    text-align:center;
}