.footer-container {
    background-color: var(--color-gray);
    color: var(--color-white);
    padding: 3vh;
}

.footer-container a {
    text-decoration: none;
    color: var(--color-white);
    
}

.footer-sozial-media-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text{
    text-align: center;

}

.sozial-media-icon{
    width: 2vw;
}